@import "tailwindcss";
@keyframes chevronPulse {
  0% { transform: translateY(0); }
  100% { transform: translateY(6px); }
}
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
